.card{
    margin-top:4%;
    margin-right:3%;
    width:280px;
    background-color: rgb(70, 66, 66);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}
.card .img{
    align-items: center; 
    transition: all .3s ease-in-out;

}
.card .img img{
    border-radius:20px;
    width:265px;
    padding:10px;
}

.card:hover{
    transform:scale(1.1);

}